extends base

mixin navItem(link, text, icon, isActive = false) 
  li(class=`${isActive ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

mixin twoFactorSection(heading, button, description = "When two factor authentication is enabled, you will be prompted for a secure, random token during authentication. You may retrieve this token from your phone's Google Authenticator application")
  h3.heading-profile#two-factor-desc #{heading}
  p.paragraph-profile #{description}
  if user.isTwoFactorEnabled
    .form__group.right
      button.btn.btn--small.btn--white.btn--cancel#btn-twofactor(data-is-active=`${user.isTwoFactorEnabled}`) #{button}
  else 
    .form__group.right
      button.btn.btn--small.btn--green#btn-twofactor(data-is-active=`${user.isTwoFactorEnabled}`) #{button}

block content 
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('#', 'Setting', 'settings', true)
          +navItem('/my-tours', 'My bookings', 'briefcase')
          +navItem('/my-favtours', 'My Favorite Tours', 'heart')
          +navItem('#', 'My reviews', 'star')
          +navItem('#', 'Billing', 'credit-card')

        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('#', 'Manage tours', 'map')
              +navItem('#', 'Manage users', 'users')
              +navItem('#', 'Manage reviews', 'star')
              +navItem('#', 'Manage bookings', 'briefcase')

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          //- form.form.form-user-data(method="post", action="/submit-user-data", enctype="multipart/form-data")
          form.form.form-user-data#update-data
            .form__group
              label.form__label(for='name') Name
              input#name.form__input(type='text', value=`${user.name}`, name="name", required)
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(type='email', value=`${user.email}`, name="email", required)
            .form__group.form__photo-upload
              img.form__user-photo(src=`img/users/${user.photo}`, alt='User photo')
              input.form__upload(type="file", accept="image/*", name="photo", id="photo")
              label(for="photo") Select a photo
            .form__group.right
              button.btn.btn--small.btn--green(type="submit") Save settings
        .line &nbsp;
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Two Factor Authentication
          if user.isTwoFactorEnabled 
            +twoFactorSection('You have enabled two factor authentication.', 'Disable')
          else 
            +twoFactorSection('You have not enabled two factor authentication.', 'Enable')
        .line &nbsp;
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-settings#update-password
            .form__group
              label.form__label(for='password-current') Current password
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--green.btn--save-password Save password
    .modal#modal-password
      .modal__box.modal__box--small
        .modal__content
          //- form.form#form-password
          //-   h2.heading-secondary.ma-bt-lg.heading-form Password Required
          //-   .form__group.ma-bt-md
          //-     label.form__label(for='password') Password
          //-     input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          //-     p.cta__form In order to execute this action, we'll need your password
          //-   .form__group
          //-     button.btn.btn--green Continue
          span.modal__close--small &times;
